<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="senderEmail" value="tranquoctrung.12k9@gmail.com" />
    <add key="senderPass" value="tranquoctrung" />
    <add key="receiverEmail" value="trung.tran@bavitech.com" />
	  <add key="ccMail" value="tranquoctrung.17ck2@gmail.com" />
  </appSettings>
  <connectionStrings>
    <add name="dtb" connectionString="server=localhost;database=DB_Email;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>